<footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright @2018 下周很重要
    <br>Design by
    <a href="https://github.com/zhangxingzhizailushang", target="_blank">张浩</a>
  </p>
</footer>
